# ***OOPS***

> Object Oriented Programming System

In [ ]:
a = 5
a

5

In [ ]:
type(a)

int

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
b = 4 # different object of the particular class
print(type(b))

<class 'int'>

In [ ]:
# what is this class > <class 'int'>

In [ ]:
s = "pwskills"
print(type(s))

<class 'str'>



> what is classes ?

> Classses are blueprint / template for creating an object.

> we are diffrent object of class

> Human being > template (class) , ears nose eyes > property of the class , diff humans > diff object of the class

> gujiya maker (class) , ingrediant (property) , gujiyas (object)

In [ ]:
a = "lokesh"
print(type(a))

<class 'str'>

In [ ]:
a = "rashi"
print(type(a))

<class 'str'>

In [ ]:
# How to define a class

#class car is nothing but a template

class Car: # naming convention >> Uppercase >> first letter of the class are uppercase
     pass

In [ ]:
c1 = Car() # instance/object

In [ ]:
print(type(c1))

<class '__main__.Car'>

In [ ]:
# why oops >> we already had function
#a project can have many component , say backend (f1 ,f2) , frontend (f3 ,f4) , data pipeline (f5 , f6)

#def f1():
 # pass

#def f2():
 # pass

#def f6():
 # pass

#def f4():
 # pass


# if a backend developer want to change some backend function > all the functions are at one place

# Oops helps you to arrange the required functions in respective classes

In [ ]:
class Car:
  pass

In [ ]:
c1 = Car()
print(type(c1))

<class '__main__.Car'>

In [ ]:
class Car:  # function/method of a car
  def accelerate():
    print("car is accelerating")

In [ ]:
c1 = Car()

In [ ]:
c1.accelerate() # it will throw an error

TypeError: Car.accelerate() takes 0 positional arguments but 1 was given

In [ ]:
class Car:  # function/method of a car
  def accelerate(self):
    print("car is accelerating")

# self >> a variable that represent instance of the class using which you can access method/function of class , also attribute/property/data of the class.
# self makes sure that each object knows that the method is associated with it.
# in other word the method is referenced to that particular object.

In [ ]:
c1 = Car()
c1.accelerate()

In [ ]:
c2 = Car()
c2.accelerate()

In [ ]:
class Car:
  def accelerate(self):
    print("car is accelerating")
  def brake(self):
    print("car is stopping")

In [ ]:
c1 = Car()
c1.brake()

In [ ]:
c1.accelerate()

In [ ]:
class Bank:
  def deposit(self):
    print("i am depositing the money")

In [ ]:
c1 = Bank()
c1.deposit()

In [ ]:
# you no need to write self you write the any value replacing with self

#self is not a python kyword you can write everything

In [ ]:
class Bank:
  def deposit(lokesh):
    print("i am depositing the money")

In [ ]:
c1 = Bank()
c1.deposit()

In [ ]:
class Bank:
  def deposit(self):
    print("i am depositing the money")
  def withdraw(self):
    print(" i am withdraw the money")

In [ ]:
c1 = Bank()
c1.withdraw()

In [ ]:
c2 = Bank()
c2.deposit()

In [ ]:
# passing data in the class >> can also be called property

class Bank:
  def deposit(self , amount):
    print("i am depositing the money")
  def withdraw(self , amount_withdraw):
    print(" i am withdraw the money")

In [ ]:
lokesh = Bank()
lokesh.deposit() # throw an error >> you want to deposit as a function but you dont write it

In [ ]:
lokesh.deposit(1000)

In [ ]:
lokesh.withdraw()

In [ ]:
lokesh.withdraw(500)

In [ ]:
# bank will ask for a default amount , amount is property of class Bank

class Bank:
  amount = 1000
  def deposit(self , amount):
    print("i am depositing the money")
  def withdraw(self , amount_withdraw):
    print(" i am withdraw the money")

In [ ]:
lokesh = Bank()
lokesh.deposit(1000)

In [ ]:
# attrinutes/proprty can be also accessed the same way as method/functions are accessed.

lokesh.amount

In [ ]:
# extract odd and even number from a list

class ListOps:
  l = [1,2,3,4,5]
  def extract_even(self, l):
    l1 = []
    for i in l:
      if i%2 == 0:
        l1.append(i)
    return l1
  def extract_odd(self, l):
    l1 = []
    for i in l:
      if i%2 != 0:
        l1.append(i)
    return l1

In [ ]:
ops1 = ListOps()

In [ ]:
ops1.l

[1, 2, 3, 4, 5]

In [ ]:
ops1.extract_even(ops1.l)

[2, 4]

In [ ]:
ops1.extract_odd(ops1.l)

[1, 3, 5]

In [ ]:
ops1.extract_odd([11,25,12,30])

[11, 25]

In [ ]:
# if you make any object the atribute L is fixed
# inpite of passing a different list above you are still getting the fixed L
ops1.l

[1, 2, 3, 4, 5]

In [ ]:
# you want to take the attribute value of the class for each object differently

class ListOps:
  def __init__(self, l): # magic or dunder method , init means initialisation of variable
      self.l = l

  def extract_even(self, l):
    l1 = []
    for i in l:
      if i%2 == 0:
        l1.append(i)
    return l1
  def extract_odd(self, l):
    l1 = []
    for i in l:
      if i%2 != 0:
        l1.append(i)
    return l1

In [ ]:
ops1 = ListOps()

TypeError: ListOps.__init__() missing 1 required positional argument: 'l'

In [ ]:
ops1 = ListOps([1,2,3,4,5])

In [ ]:
ops1.l

[1, 2, 3, 4, 5]

In [ ]:
ops2 = ListOps([1,2,1,30,31,4,5])

In [ ]:
ops2.l

[1, 2, 1, 30, 31, 4, 5]

In [ ]:
ops1.extract_even()

TypeError: ListOps.extract_even() missing 1 required positional argument: 'l'

In [ ]:
class ListOps:
  def __init__(self, l): # magic or dunder method , init means initialisation of variable
      self.l = l #if i change self.l into self.l2 everywhere will be chaging the variable

  def extract_even(self):
    l = self.l
    l1 = []
    for i in l:
      if i%2 == 0:
        l1.append(i)
    return l1
  def extract_odd(self):
    l = self.l
    l1 = []
    for i in l:
      if i%2 != 0:
        l1.append(i)
    return l1

In [ ]:
ops1 = ListOps([1,2,3,4,5,8])

In [ ]:
ops1.extract_odd()

[1, 3, 5]

In [ ]:
ops1.extract_even()

[2, 4, 8]

In [46]:
# multiple Attributes
# in a library a book is associated with author , title , name
class Book:
  def __init__(self, name, author, title):
    self.name_of_book = name
    self.book_author = author
    self.title_name = title

  def extract_detail_name_title(self):
    print(self.name_of_book , self.title_name)

  def extract_detail_name_author(self):
    print(self.name_of_book , self.book_author)

In [47]:
student1 = Book("ML" , "murphy" , "linear regrassion")

In [48]:
student1.extract_detail_name_author()

ML murphy

In [49]:
student1.extract_detail_name_title()

ML linear regrassion