# ***Polymorphism***

> poly means many and morphism means forms/states.

> refers to an object taking several forms depending on the methods/data.

> same method is taking many forms.

In [1]:
len("lokesh")

6

In [2]:
len([1,2,3,4,5])

5

In [3]:
len((1,2,3))

3

In [4]:
def func(a,b):
  return a+b

In [5]:
func(2,3) # same + adding 2 no

5

In [7]:
func("pw" , "skills") # same + combining two string

'pwskills'

In [8]:
func([1,2,3] , [4,5,6,]) # the list concetinantion

[1, 2, 3, 4, 5, 6]

In [ ]:
# observation >> func is taking diff forms with respect to diff data passed

In [9]:
# function inside a class is known is method.

class Teacher_lecture:
  def lec_info(self):
    print("this is the lec info with teaacher perspective")

class Student_lecture:
  def lec_info(self):
    print("this is lecture info with student perpectuve")

In [10]:
obj1 = Teacher_lecture()
obj2 = Student_lecture()
class_obj = [obj1 , obj2]

In [11]:
def parcer(class_obj):
  for i in class_obj:
    i.lec_info() # at this time, lec_info is taking two forms wrt teacher and student

In [12]:
parcer(class_obj)

this is the lec info with teaacher perspective
this is lecture info with student perpectuve

In [ ]:
# polymorphism >> in oops takes place in two ways:

# A function inside a class is known as a method.

# Method overloading >> Python doesn't support true method overloading.
# Method overriding >> Method overloading in Python means defining multiple
# methods with the same name but different parameters.

# method overloading happens in the same class

In [13]:
# method overloading

In [14]:
class Student:
  def student(self):
    print("welcome to pwskills class")

  def student(self, name = ""):
    print("welcome to pwskills class" , name)

  def student(self, name = "" , course = ""):
    print("welsome to pwskills classs", name, course)

In [15]:
stu = Student()

In [16]:
stu.student()

welsome to pwskills classs

In [17]:
stu.student("ajay")

welsome to pwskills classs ajay

In [18]:
stu.student("lokesh", "data science")

welsome to pwskills classs lokesh data science

In [20]:
# method overloading >> student method is taking different forms , the last
# method overload the previous ones in the same class

class Student:

  def student(self, name = "" , course = ""):
    print("welsome to pwskills classs", name, course)

In [21]:
stud = Student()

In [22]:
stud.student()

welsome to pwskills classs

In [23]:
stud.student("lokesh")

welsome to pwskills classs lokesh

In [24]:
stud.student("lokesh" , "pwskills")

welsome to pwskills classs lokesh pwskills

In [ ]:
# method overriding >> method in parent class and child class with same
# signature , the child class method will be executed.

# child class is most powerfull

In [25]:
class Animal:
  def sound(self):
    print("animal sound")

class Cat(Animal):
  def sound(self):
    print("cat meows")

In [26]:
obj1 = Animal()

In [27]:
obj1.sound()

animal sound

In [28]:
obj2 = Cat()

In [29]:
obj2.sound()

cat meows

# ***Encapsulation***

> means hiding something.

> bundling of data and methods of a class.

> Access modifier   >> public , protected , private

In [30]:
# Here we will take the data, so we use init.

#public >> accessible from anywhere from outside / inside of class.

class Student:
  def __init__(self, name , age):
    self.name = name
    self.age = age

In [37]:
student1 = Student("lokesh" , 18)

In [38]:
student1.name

'lokesh'

In [39]:
student1.age

18

In [40]:
student2 = Student("ajay" , 19)

In [41]:
student2.name

'ajay'

In [42]:
student2.age

19

In [43]:
student2.age = 20

In [44]:
student2.age

20

In [45]:
student2.name = "vijay"

In [46]:
student2.name

'vijay'

In [ ]:
# private >> the data and method is only accessible within its class , use __ to
# make private

In [48]:
# accessing the public data member inside the other method of same class

class Student:
  def __init__(self, name , age):
    self.name = name
    self.age = age

  def show(self):
    # accessing the private and public data member
    print("name" , self.name ,'age' , self.age)

In [49]:
stu = Student("lokesh" , 18)

In [50]:
stu.show()

name lokesh age 18

In [52]:
stu.name

'lokesh'

In [53]:
# here data private

class Student:
  def __init__(self, name , age):
    self.name = name
    self.__age = age

  def show(self):
    # accessing the private and public data member
    print("name" , self.name ,'age' , self.__age)

In [55]:
stu = Student("lokesh" , 20)

In [56]:
stu.name

'lokesh'

In [59]:
stu.show()

name lokesh age 20

In [58]:
stu.age # private you can not access , throw an error.

AttributeError: 'Student' object has no attribute 'age'

In [60]:
stu.__age

AttributeError: 'Student' object has no attribute '__age'

In [61]:
stu.age = 22

In [62]:
stu.show()

name lokesh age 20

In [63]:
stu._Student__age # you want to access the private variables

20

In [64]:
# now data private

class Student:
  def __init__(self, name , age):
    self.name = name
    self.__age = age

  def show(self):
    # accessing the private and public data member
    print("name" , self.name ,'age' , self.__age)

  def __private_method(self):
    print("this is a private method")

In [67]:
stud = Student("lokesh",24)

In [68]:
stud.name

'lokesh'

In [69]:
stud.show()

name lokesh age 24

In [70]:
stud.private_method() # private

AttributeError: 'Student' object has no attribute 'private_method'

In [71]:
stud.__private_method()

AttributeError: 'Student' object has no attribute '__private_method'

In [73]:
stud._Student__private_method() #accessing private method

this is a private method

In [74]:
# way to provide an option to see the private method >> a wrapper


class Student:
  def __init__(self, name , age):
    self.name = name
    self.__age = age

  def show(self):
    # accessing the private and public data member
    print("name" , self.name ,'age' , self.__age)

  def __private_method(self):
    print("this is a private method")
  def access_private_method(self):
    self.__private_method()

In [75]:
obj1 = Student("lokesh" , 25)
obj1.access_private_method()

this is a private method

In [76]:
# another use case of modifying the private variable

class Car:
  def __init__(self,year,make,model,speed):
    self.__year = year
    self.__make = make
    self.__model = model
    self.__speed = speed

In [77]:
c1 = Car(2021 , "toyata" , "innova" , 250)
c1.year

AttributeError: 'Car' object has no attribute 'year'

In [78]:
c1.make

AttributeError: 'Car' object has no attribute 'make'

In [79]:
c1.__year

AttributeError: 'Car' object has no attribute '__year'

In [80]:

class Car:
  def __init__(self,year,make,model,speed):
    self.__year = year
    self.__make = make
    self.__model = model
    self.__speed = speed

  def set_speed(self,speed):
    self.__speed = 0 if speed < 0 else speed
  def get_speed(self):
    return self.__speed

In [81]:
c1 = Car(2021 , "toyata" , "innova" , 250)
c1.get_speed()

250

In [82]:
c1.set_speed(350)

In [83]:
c1.get_speed()

350

In [84]:
c1.set_speed(-250)

In [85]:
c1.get_speed()

0

In [89]:
# another use case

class Bank_account:
  def __init__(self , balance):
    self.__balance = balance

  def deposit(self,amount):
      self.__balance = self.__balance + amount

  def withdraw(self, amount):
    if self.__balance >= amount:
      self.__balance = self.__balance - amount
      return True
    else:
      return False

  def get_balance(self):
    return self.__balance

In [92]:
acc1 = Bank_account(1000)

In [93]:
acc1.get_balance()

1000

In [94]:
acc1.deposit(500)

In [95]:
acc1.get_balance()

1500

In [96]:
acc1.withdraw(1000)

True

In [97]:
acc1.get_balance()

500

In [98]:
acc1.withdraw(600)

False

In [99]:
acc1.get_balance()

500

In [ ]:
# protected >> within the class and its subclass , protected member can be accessed . (_) > use
# you dont use protected varibale much .

In [105]:

class College:
  def __init__(self):
    self._college_name = "pwskills"

class Student(College):
  def __init__(self,name):
    self.name = name
    College.__init__(self) # accessing variable using base class

  def show(self):
    print("name", self.name , "college",  self._college_name) # directly call the baseclass using one unnderscore

In [106]:
stud = Student("lokesh")

In [107]:
stud.name

'lokesh'

In [108]:
stud.show()

name lokesh college pwskills

In [109]:
coll = College()

In [110]:
coll._college_name #accessing the protected variable

'pwskills'

In [111]:
# another way to access the data of basr class using super() class.

class College:
  def __init__(self):
    self._college_name = "pwskills"

class Student(College):
  def __init__(self,name):
    self.name = name
    super().__init__() #inclue super and remove self , base class is super class.

  def show(self):
    print("name", self.name , "college",  self._college_name)

In [113]:
stud = Student("lokesh")

In [114]:
stud.name

'lokesh'